/* section bg background-color: #fcf5ed; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
.middle{
    margin: 0px 5%;
}

/* navigation bar */
.nav_bar{
    width: 100%;
    height: 70px;
    background-color: #f9f4eb;
    overflow: auto;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
}
.logo{
    height: 70px;
    float: left;
}
.nav_list{
    list-style: none;
    margin-left: 230px;
    margin-top: 23px ;
    float: left;
}
.nav_list li{
    margin-left: 20px;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.nav_list li a{
    text-decoration: none;
    color: #745323;
}
.nav_list li a::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 1s;
    background-color: #745423d1;
    bottom: -3px;
}
.nav_list .home_a::after{
    width: 100%;
}
.nav_list li a:hover::after{
    width: 100%;
    height: 3px;
}
.nav_bar i{
    font-size: 35px;
    margin: 15px 50px;
    float: right;
    color: #83612d;
}


/* ---------------------------------------------------------- */
/* home page */
.home{
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    position: relative;
}
.home .home_bg{
    width: 100%;
    height: 735px;
    position: absolute;
    opacity: 0.7;
}
.home .home_img{
    height: 500px;
    width: 400px;
    position: absolute;
    margin-left: 65%;
    margin-top: 150px;
    border-radius: 50% / 20%;
    border: 2px solid beige;
    outline: 2px solid bisque;
    outline-offset: 3px;
}
.home .p1{
    width: 30%;
    position: absolute;
    font-size: 60px;
    margin-top: 200px;
    margin-left: 250px;
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    /* color: rgb(71, 70, 70); */
    color: #5e4726;
}
.home .home_btn1{
    width: 200px;
    height: 40px;
    position: absolute;
    margin-top: 550px;
    margin-left: 15%;
    font-size: 25px;
    border-radius: 8px;
    background-color: #f9f4eb;
    color: #a47d42;
    border: 2px solid beige;
    outline: 2px solid bisque;
    outline-offset: 3px;
}
.home .home_btn2{
    width: 200px;
    height: 40px;
    position: absolute;
    margin-top: 550px;
    margin-left: 30%;
    font-size: 25px;
    border-radius: 8px;
    background-color: #f9f4eb;
    color: #a47d42;
    border: 2px solid beige;
    outline: 2px solid bisque;
    outline-offset: 3px;
}
.home .btn:hover{
    font-size: 26px;
    outline-offset: 5px;
}


/* ---------------------------------------------------------- */
/* welcome */
.welcome{
    overflow: auto;
    margin: 150px 0px 100px;
}
.welcome h2{
    text-align: center;
    font-size: 40px;
    color: #63471f;
}
.welcome .line{
    width: 105px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 60px;
}
.welcome_item{
    width: 30%;
    float: left;
    border: 2px solid rgb(252, 252, 214);
    outline: 2px solid bisque;
    outline-offset: 3px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
}
.welcome .middle{
    margin: 0px 5%;
}
.welcome_item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.welcome_item h3{
    font-size: 25px;
    color: #63471f;
    margin-top: 10px;
}
.welcome_item p{
    font-size: 20px;
    margin: 10px;
    color: #a47d42;
}
.welcome_item button{
    padding: 10px 15px;
    font-size: 20px;
    background-color: rgb(253, 221, 182);
    color: white;
    margin: 10px;
    border: 1px solid white;
}
.welcome_item::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s;
    background-color: antiquewhite;
    z-index: -1;
}
.welcome_item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}


/* ---------------------------------------------------------- */
/* products */
.necklace ,.rings ,.earrings{
    background-color: #fcf5ed;
    margin: 150px 0px;
    padding: 50px 0px 130px;
}
.necklace h2 ,.rings h2 , .earrings h2{
    text-align: center;
    font-size: 40px;
    color: #63471f;
}
.necklace .line ,.rings .line ,.earrings .line{
    width: 105px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 60px;
}
.proudect_div{
    width: 100%;
    height: 50%;
}
.product_item{
    width: 30%;
    float: left;
    border: 2px solid rgb(252, 252, 214);
    outline: 2px solid bisque;
    outline-offset: 3px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
}
.product_item img{
    width: 95%;
    height: 90%;
    border-radius: 5px;
}
.proudect_div .overley{
    background-color: #5e472600;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    visibility: hidden;
}
.proudect_div .overley .text{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 80%;
}
.proudect_div .overley h3{
    color: white;
    font-size: 25px;

}
.proudect_div .overley p{
    color: white;
    font-size: 20px;
}
.proudect_div .overley i{
    font-size: 20px;
    color: black;
    margin: 10px 5px;
    /* background-color: white;
    padding: 5px;
    border-radius: 5px; */
}
.proudect_div .overley .heart{
    color: red;
}
.product_item:hover .overley{
    background-color: #5e47268a;
    visibility: visible;
    transition: 0.5s;
}
.product_item:hover .overley h3{
    margin-bottom: 10px;
    transition: 0.7s;
}


/* ---------------------------------------------------------- */
/* fixed_container1 */
.fixed2{
    overflow: auto;
    background: url(../Images/stat3.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
    /* padding: 70px; */
}
.fixed_container2{
    width: 70%;
    margin: auto;
    padding: 70px;
}
.fixed2 .overley{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
}
.fixed2 .part{
    width: 25%;
    text-align: center;
    margin: auto;
    float: left;
    color: black;
}
.fixed2 .part i{
    font-size: 30px;
    /* color: antiquewhite; */
    color: rgb(95, 54, 1);
}
.fixed2 .part h3{
    font-size: 30px;
    margin: 10px;
}
.fixed2 .part p{
    font-size: 25px;
    margin: 10px;
}


/* ---------------------------------------------------------- */
/* what we offer */
.offers{
    overflow: auto;
    margin: 150px 0px 100px;
}
.offers h2{
    text-align: center;
    font-size: 40px;
    color: #63471f;
}
.offers .line{
    width: 105px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 60px;
}
.offer_item{
    width: 30%;
    float: left;
    border: 2px solid rgb(252, 252, 214);
    outline: 2px solid bisque;
    outline-offset: 3px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
}
.offers .middle{
    margin: 0px 5%;
}
.offer_item i{
    position: absolute;
    font-size: 40px;
    color: #454545;
}
.offer_item h3{
    font-size: 25px;
    color: #63471f;
    margin-left: 70px;
    margin-top: 10px;
}
.offer_item p{
    font-size: 20px;
    margin: 10px 75px;
    color: #a47d42;
}
.offer_item::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s;
    background-color: antiquewhite;
    z-index: -1;
}
.offer_item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}


/* ---------------------------------------------------------- */
/* why choose us */
.why_choose_us{
    overflow: auto;
    margin: 50px 0;
    background-color: #fcf5ed;
}
.why_choose_us .left{
    float: left;
    width: 60%;
    padding: 20px;
    margin: 100px 0px;
}
.why_choose_us .left h2{
    font-size: 40px;
    color: #63471f;
}
.why_choose_us .line{
    width: 150px;
    height: 3px;
    background-color: burlywood;
    border-radius: 2px;
    margin-bottom: 40px;
}
.left_line{
    margin: 20px 5px;
}
.why_choose_us .left span{
    font-size: 20px;
    color: #a47d42;
}
.why_choose_us .left i{
    font-size: 20px;
    color: #454545;
    margin-left: 20px;
}
.why_choose_us .right{
    float: right;
    width: 40%;
    padding: 20px;
    margin: 100px 0px 70px;
}
.why_choose_us .right img{
    display: block;
    width: 60%;
    border: 2px solid rgb(252, 252, 214);
    outline: 2px solid bisque;
    outline-offset: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.why_choose_us .right ul{
    list-style-type: none;
    margin-left: 30px;
}
.why_choose_us .right li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}
.why_choose_us .right li:hover{
    background-color: burlywood;  
}
.why_choose_us .right .li1{
    background-color: burlywood;  
}


/* ---------------------------------------------------------- */
/* pricing table */
.pricing{
    overflow: auto;
    margin: 150px 0px;
}
.pricing h2{
    text-align: center;
    font-size: 40px;
    color: #63471f;
}
.pricing .line{
    width: 105px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 60px;
}
.pricing_card{
    width: 30%;
    float: left;
    border: 2px solid rgb(252, 252, 214);
    outline: 2px solid bisque;
    outline-offset: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 30px;
    text-align: center;
    position: relative;
}
.pricing .middle{
    margin: 0px 5%;
}
.pricing_card h3{
    font-size: 25px;
    color: #63471f;
    margin: 10px 0px;
}
.pricing_card .circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #454545;
    margin: 30px auto;
}
.pricing_card .circle span{
    font-size: 30px;
    line-height: 70px;
    color: #a47d42;
}
.pricing_card p{
    font-size: 23px;
    color: #63471f;
    margin: 10px auto;
    width: 60%;
}
.pricing_card button{
    color: #a47d42;
    border: 1px solid #454545;
    background-color: white;
    margin-top: 30px ;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px 10px;
}
.pricing_card::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s;
    background-color: antiquewhite;
    z-index: -1;
}
.pricing_card:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.pricing_card:hover .circle{
    background-color: white;
    transition: 1s;
}
.pricing_card:hover .circle span{
    transition: 1s;
    color: #f8ca86;
}
.pricing_card:hover button{
    transition: 1s;
    color: #f8ca86;
}
.pricing_card:hover h3{
    font-size: 27px;
    transition: 1s;
}


/* ---------------------------------------------------------- */
/* fixed_container1 */
.fixed1{
    overflow: auto;
    background: url(../Images/company.jpg) no-repeat fixed;
    background-size: cover;
    padding: 70px;
    padding-left: 150px;
}
.fixed_container1{
    width: 70%;
    margin: auto;
}
.fixed1 .left{
    float: left;
    width: 50%;
    overflow: auto;
}
.fixed1 .right{
    float: left;
    width: 50%;
    overflow: auto;
}
.fixed1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.fixed1 .name{
    margin-top: 30px;
}
.fixed1 p{
    margin-top: 30px;
    width: 70%;
}

/* ---------------------------------------------------------- */
/* our team */
.our_team{
    margin: 150px 0px;
    overflow: auto;
}
.our_team h2{
    text-align: center;
    font-size: 40px;
    color: #63471f;
}
.our_team .line{
    width: 105px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 60px;
}
.our_team .team_member{
    float: left;
    width: 30%;
    border: 2px solid rgb(252, 252, 214);
    outline: 2px solid bisque;
    outline-offset: 3px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 7px;
    text-align: center;
    position: relative;
}
.our_team .middle{
    margin: 0px 5%;
}
.team_member img{
    width: 100%;
    height: 400px;
    margin: auto;
}
.team_member h3{
    font-size: 25px;
    color: #63471f;
    margin: 10px 0px;
}
.team_member p{
    font-size: 23px;
    color: #63471f;
    margin: 10px auto;
    width: 60%;
}
.team_member .top{
    position: relative;
}
.team_member .overley{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.team_member .overley i{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    color: white;
    background-color: #5e4726;
    font-size: 20px;
    line-height: 40px;
}
.team_member:hover .overley{
    visibility: visible;
}
.team_member::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s;
    background-color: #5e4726;
    z-index: -1;
}
.team_member:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.team_member:hover h3{
    color: white;
    transition: 1s;
}
.team_member:hover p{
    color: white;
    transition: 1s;
}


/* ---------------------------------------------------------- */
/* what we offer */
.reviews{
    overflow: auto;
    margin: 150px 0px 100px;
}
.reviews .container{
    width: 85%;
}
.reviews h2{
    text-align: center;
    font-size: 40px;
    color: #63471f;
}
.reviews .line{
    width: 105px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 60px;
}
.reviews .person{
    width: 30%;
    float: left;
    text-align: center;
    padding: 30px;
    position: relative;
}
.reviews .person img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.reviews .person .info{
    margin: 10px 0px;
}
.reviews .person .info .name{
    margin-right: 10px;
}
.reviews .person .info i{
    color: #a47d42;
}
.reviews .person .bottom p{
    font-size: 20px;
    margin: 10px 0px;
}
.reviews .person .bottom  a{
    margin-bottom: 10px;
    color: #a47d42;
    text-decoration: none;
}
.reviews .person::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s;
    background-color: #5e4726;
    border-radius: 10px;
    z-index: -1;
}
.reviews .person:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.reviews .person:hover .top .info i{
    color: white;
    transition: 0.5s;
}
.reviews .person:hover .bottom a{
    color: white;
    transition: 0.5s;
}


/* ---------------------------------------------------------- */
/* fotter */
.fotter{
    background-color: #fcf5ed;
    text-align: center;
    padding: 50px;
}
.fotter h3{
    font-size: 30px;
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
}
.fotter a{
    text-decoration: none;
}
.fotter a i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    line-height: 30px;
    margin: 20px 0px;
}
.fotter a i:hover{
    background-color: #454545;
}
.fotter p{
    font-size: larger;
}